@use './app/theme.scss';
@use "tailwindcss";

/* Global styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

// some bug in material & tailwind combination
.mat-mdc-notch-piece{
  border: none;
}
