@use './app/theme.scss';
@use "tailwindcss";
@use '@angular/material' as mat;

/* Global styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

// some bug in material & tailwind combination
.mat-mdc-notch-piece{
  border: none;
}

// Brand add dialog panel border radius
.brand-add-dialog-panel,
.config-add-dialog-panel {
  --mat-dialog-container-shape: 24px;
}

:root {
  @include mat.expansion-overrides((
    container-shape: 8px,
    header-collapsed-state-height: 67px,
    container-elevation-shadow: rgba(0, 0, 0, 0.05) 0px 2px 4px 0px
  ));
}