@if (isLoading()) {
  <div class="config-view-loading">
    <dc-spinner text="Loading configuration..." size="medium"></dc-spinner>
  </div>
} @else if (error()) {
  <div class="config-view-error">
    <h2>Error</h2>
    <p>{{ error() }}</p>
  </div>
} @else if (selectedConfig()) {
  <div class="config-view">
    @if (canShowVersionSelector() && configVersions().length) {
      <dc-version-selector
        [brandId]="brandId()!"
        [configName]="selectedConfig()!.name"
        [activeVersion]="activeVersion()"
        [versions]="configVersions()"
        (versionSelected)="onVersionSelect($event)"
        (activeVersionSet)="onActiveVersionSet($event)"
        (notification)="onNotification($event)"
      />
    }
    <dc-config-builder-panel-dragdrop
      [selectedConfig]="selectedConfig()"
      [brandId]="brandId()"
      [formData]="formData()"
      (formDataChange)="onFormDataChange($event)"
      (configUpdated)="onConfigUpdated($event)"
      (notification)="onNotification($event)"
    ></dc-config-builder-panel-dragdrop>
  </div>
}

