:host {
  display: block;
  width: 100%;
  height: 100%;

  ::ng-deep {
    .mat-mdc-form-field {
      width: 100%;
    }
  }
}

.w-full {
  width: 100%;
}

.required-hint {
  color: #ef4444;
  font-size: 12px;
}

